@import './_card-styling.scss';


.pokemon-component-container {

  display: flex;
  flex-flow: column nowrap;

  .logo-style {
    width: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .search-bar-container {
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    
    .search-bar {
      height: 30px;
      border-radius: 10px;
      width: 90%;
      border: blue solid 2px;
      font-size: 20px;
      color: gray;
  
      &:focus {
        outline: none;
      }
    }

    
  }
  
  
  .pokemon-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
  
    .poke-card-container {
      
      padding: 10px;
      margin: 10px;
      width: 200px;
      height: 250px;
      text-align: center;
      justify-content: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      border-radius: 10px;
  
      img {
        width: 150px;
        height: 150px;
      }

      h1 {
        padding: 0;
        margin: 0;
      }
    }
  }

}



